* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



h1 {
    text-align: center;
    color: white;
}

.textLogo {
    position: relative;
    height: 15vh;
    width: 10%;
    left: 50%;
    transform: translate(-50%);
}

body {
    background-color: #111;
}

.mainDiv {
    height: 100vh;
    width: 100%;
    position: relative;
}
.insideDiv {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.img1 {
    height: 100vh;
    width: 100%;
}

.btn {
    padding: 2% 2%;
    height: 50px;
    width: 250px;
    font-family: 'Roboto', serif;
    border:1px solid white;
    color: white;
    transition-duration : 0.5s ;
    text-transform: uppercase;
    background-color: #ff4655;
    box-shadow: 10px 10px 8px #0f1923;
    

}
.btn:hover {
    text-transform: uppercase;
    color: white;
    background-color: #0f1923;
    
}

/* @media (min-width: 320px) and (max-width:480px) {
    .img1 {
        height: 50vh;
        width : 100%;
    }
} */